<section>
    <div class="container">
        <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
                <h3 class="display-4">Stay in the loop</h3>
                <div class="lead">Join us to keep your technical note.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
                <div class="card h-100 hover-box-shadow">
                    <a href="#" class="d-block bg-gradient rounded-top">
                        <img class="card-img-top hover-fade-out" src="img/blog/thumb-4.jpg" alt="blog.4.image">
                    </a>
                    <div class="card-body">
                        <a href="#">
                            <h3>It's not just about the clicks. Here's why</h3>
                        </a>
                        <p>
                            Consectetur libero imp faucibus nisl tincidunt. Sansa tellus mauris a diam maecenas sed.
                        </p>
                        <a href="#">Read Story</a>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <a href="#" class="badge badge-pill badge-primary">Engagement</a>
                        <div class="text-small text-muted">August 8th</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
                <div class="card h-100 hover-box-shadow">
                    <a href="#" class="d-block bg-gradient rounded-top">
                        <img class="card-img-top hover-fade-out" src="img/blog/thumb-5.jpg" alt="blog.5.image">
                    </a>
                    <div class="card-body">
                        <a href="#">
                            <h3>Why social ROI is impossible to measure</h3>
                        </a>
                        <p>
                            Sed arcu Jon odio Oberyn lacinia at quis. Brienne fermentum vel porta Jon pulvinar neque.
                        </p>
                        <a href="#">Read Story</a>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <a href="#" class="badge badge-pill badge-info">Finance</a>
                        <div class="text-small text-muted">July 21st</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
                <div class="card h-100 hover-box-shadow">
                    <a href="#" class="d-block bg-gradient rounded-top">
                        <img class="card-img-top hover-fade-out" src="img/blog/thumb-8.jpg" alt="blog.6.image">
                    </a>
                    <div class="card-body">
                        <a href="#">
                            <h3>Breathing new life into a tired UI</h3>
                        </a>
                        <p>
                            Podrick in massa tempor nec feugiat nisl pretium. Consectetur imp faucibus nisl tincidunt.
                        </p>
                        <a href="#">Read Story</a>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <a href="#" class="badge badge-pill badge-danger">Design</a>
                        <div class="text-small text-muted">June 30th</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
