<div class="bg-gradient text-white o-hidden" data-overlay>
    <section class="pb-0">
        <div class="container pb-5">
            <div class="row align-items-center justify-content-center justify-content-lg-between text-center text-lg-left">
                <div class="col-md-9 col-lg-6 col-xl-5 pl-lg-5 pl-xl-0">
                    <h1 class="display-3">People behind the <mark data-aos="highlight-text" data-aos-delay="250">Juice</mark></h1>
                    <p class="lead">
                        A juicy team of developers, designers & branding magicians true born in the Dragon. We dare to hack people productivity. We build & shape products platforms that makes work easier.
                    </p>
                </div>
                <div class="col-md-10 col-lg-6 col-xl mt-4 mt-md-5 mt-lg-0">
                    <div class="d-flex position-relative align-items-center justify-content-center rounded">
                        <img src="/img/members/team-work.png" alt="Team Work" class="img-fluid" style="max-height: 550px" />
                    </div>
                </div>
            </div>
        </div>
        <div class="position-absolute w-50 h-50 bottom left" data-jarallax-element="100">
            <div class="blob blob-2 bg-white opacity-10 w-100 h-100"></div>
        </div>
        <div class="divider divider-bottom bg-primary-1"></div>
    </section>
</div>