<div class="col-sm-6 text-center mb-5">
    <div class="d-flex flex-column align-items-center">
        <img src="/img/avatars/male-1.jpg" alt="Joshua Lapinsky profile image" class="avatar avatar-xl mb-4">
        <h5 class="mb-2">Joshua Lapinsky</h5>
        <div class="mb-3">Co-Founder & CEO</div>
        <ul class="list-unstyled d-flex mb-0">
            <li class="mx-2">
                <a href="#" class="hover-fade-out">
                    <img src="/img/icons/social/twitter.svg" alt="Twitter" class="icon icon-xs" data-inject-svg>
                </a>
            </li>
            <li class="mx-2">
                <a href="#" class="hover-fade-out">
                    <img src="/img/icons/social/github.svg" alt="Github" class="icon icon-xs" data-inject-svg>
                </a>
            </li>
        </ul>
    </div>
</div>