@model MemberModel

<div class="col-sm-6 text-center mb-5">
    <div class="d-flex flex-column align-items-center">
        <img src="@Model.AvatarUrl" alt="@Model.Name avatar" class="avatar avatar-xl mb-4">
        <h5 class="mb-2">@Model.Name</h5>
        <div class="mb-3">@Model.Position</div>
        <ul class="list-unstyled d-flex mb-0">
            @if (!string.IsNullOrWhiteSpace(Model.SkypeId))
            {
                <li class="mx-2">
                    <a href="skype:@Model.SkypeId" class="hover-fade-out">
                        <img src="/img/icons/social/skype.svg" alt="Twitter" class="icon icon-xs bg-info" data-inject-svg />
                    </a>
                </li>
            }
            @if (!string.IsNullOrWhiteSpace(Model.GithubId))
            {
                <li class="mx-2">
                    <a href="https://github.com/@Model.GithubId" class="hover-fade-out">
                        <img src="/img/icons/social/github.svg" alt="Github" class="icon icon-xs" data-inject-svg />
                    </a>
                </li>
            }
        </ul>
    </div>
</div>