<div class="row justify-content-center mt-3 mt-sm-4">
    <div class="col-auto">
        <div class="alert bg-secondary">
            We think you'll fit in here. <a href="/contact">Contact Us</a>
        </div>
    </div>
</div>