@{
    ViewData[MetadataKeys.Title] = "Members";
    ViewData[MetadataKeys.FaviconUrl] = "~/icons/team.ico";
    
    ViewData[ContentKeys.HeaderNavTagContent] = "class='navbar navbar-expand-lg navbar-dark' data-overlay";
    ViewData[ContentKeys.LogoTagContent] = "text-white";
    ViewData[ContentKeys.BlogButtonClass] = "btn-warning";
}

@{
    await Html.RenderPartialAsync("~/Views/Member/_Banner.cshtml").ConfigureAwait(true);
}

<section class="bg-primary-1">
    <div class="container">
            <div class="row section-title justify-content-center text-center">
                <div class="col-md-9 col-lg-8 col-xl-7">
                    <h3 class="display-4">We glow all the way up</h3>
                   <p class="lead">
                        Our team is a diverse group of likeminded developers, designers and business gurus.
                    </p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-11">
                    <div class="row justify-content-center">
                        <div class="col-xl-10">
                            <div class="row">
                                @{
                                    await Html.RenderPartialAsync("~/Views/Member/_Member.cshtml").ConfigureAwait(true);
                                    await Html.RenderPartialAsync("~/Views/Member/_Member.cshtml").ConfigureAwait(true);
                                    await Html.RenderPartialAsync("~/Views/Member/_Member.cshtml").ConfigureAwait(true);
                                    await Html.RenderPartialAsync("~/Views/Member/_Member.cshtml").ConfigureAwait(true);
                                    await Html.RenderPartialAsync("~/Views/Member/_Member.cshtml").ConfigureAwait(true);
                                    await Html.RenderPartialAsync("~/Views/Member/_Member.cshtml").ConfigureAwait(true);
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @{
                await Html.RenderPartialAsync("~/Views/Member/_Register.cshtml").ConfigureAwait(true);
            }
    </div>
</section>