<footer class="bg-primary-3 text-white links-white pb-4 pt-4 p0 footer-1">
    <div class="container">
        <div class="row flex-column flex-lg-row align-items-center justify-content-center justify-content-lg-between text-center text-lg-left">
            <div class="col-auto">
                <div class="d-flex flex-column flex-sm-row align-items-center text-small">
                    <div class="text-muted">
                        &copy; @DateTime.Now.ToString("yyyy") Top Nguyen
                    </div>
                </div>
            </div>
            <div class="col-auto mt-3 mt-lg-0">
                <ul class="list-unstyled d-flex mb-0">
                    <li class="mx-3">
                        <a href="skype:live:vodanh_pp?chat" class="hover-fade-out">
                            <img src="/img/icons/social/skype.svg" alt="Google" class="icon icon-xs bg-white" data-inject-svg>
                        </a>
                    </li>
                    <li class="mx-3">
                        <a href="https://github.com/topnguyen" class="hover-fade-out">
                            <img src="/img/icons/social/github.svg" alt="Github" class="icon icon-xs bg-white" data-inject-svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>