@{
    ViewData[MetadataKeys.Title] = "Account";

    ViewData[ContentKeys.HeaderNavTagContent] = "class='navbar navbar-expand-lg navbar-light' data-overlay";
}

@{
    await Html.RenderPartialAsync("_Menu");
}

<section class="bg-light tab-content pt-5">
    <div class="container">
        <div class="row mb-4 mb-md-5 align-items-start">
            <div class="col-lg-4 order-lg-2 mb-4 mb-lg-0 sticky-lg-top pl-lg-5">
                <div class="alert alert-primary">
                    Your information is always kept encrypted and can never be accessed by third parties.
                </div>
            </div>
            <div class="col-lg-8 border-lg-right pr-lg-5">
                <div class="row mb-lg-5">
                    <div class="col">
                        <h3>Account Details</h3>
                    </div>
                </div>
                @{
                    await Html.RenderPartialAsync("_Message");
                }
                <form>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" class="form-control"/>
                        <small>Used to log in to your account</small>
                    </div>
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input type="email" id="email" class="form-control"/>
                        <small>Verify your email to reset your password when you lost it</small>
                    </div>
                    <button class="btn btn-primary" disabled="disabled" type="submit">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</section>