@using Goblin.Identity.Share.Models.UserModels
@using Goblin.Landing.Core
@model UpdateProfileModel
@{
    ViewData[MetadataKeys.Title] = "Profile";

    ViewData[ContentKeys.HeaderNavTagContent] = "class='navbar navbar-expand-lg navbar-light' data-overlay";

    var loggedInUser = LoggedInUser<GoblinIdentityUserModel>.Current.Data;

    var avatarUrl = loggedInUser.AvatarUrl;

    if (string.IsNullOrWhiteSpace(avatarUrl))
    {
        avatarUrl = "https://cfl.dropboxstatic.com/static/images/avatar/faceholder-vflGRnT85.svg";
    }
}

@section Styles{
    <style>
        input[type="file"] {
            display: none;
        }
        
        .cursor-pointer{
          cursor: pointer;
        }
    </style>
}

@section Scripts
{
    <script type="text/javascript">
        function previewImageFile(input, previewSelector) {
          if (input.files && input.files[0]) {
              
            let reader = new FileReader();
            
            reader.onload = function(e) {
              $(previewSelector).attr('src', e.target.result);
            }
            
             // convert to base64 string
            reader.readAsDataURL(input.files[0]);
          }
        }
        
        $("#AvatarFile").change(function() {
            previewImageFile(this, "#avatarImg");
        });
    </script>
}

@{
    await Html.RenderPartialAsync("_Menu");
}

<section class="bg-light tab-content pt-5">
    <form asp-controller="Portal" asp-action="SubmitUpdateProfile" method="post" enctype="multipart/form-data" role="form">
        <input asp-for="AvatarUrl" type="hidden"/>

        <div class="container">
            <div class="row mb-4 mb-lg-5">
                <div class="col">
                    <div class="d-flex align-items-md-center">
                        <img id="avatarImg" src="@avatarUrl" alt="Avatar" class="avatar avatar-lg flex-shrink-0">
                        <div class="ml-4">
                            <label class="btn btn-sm btn-primary cursor-pointer">
                                <input asp-for="AvatarFile" type="file" accept="image/*"/>
                                Upload Avatar
                            </label>
                            <div class="text-small mt-3">For best results, use an image at least 460px by 460px in either .jpg or .png format</div>
                        </div>
                    </div>
                    <hr class="mt-lg-5">
                </div>
            </div>

            <div class="row mb-4 mb-md-5 align-items-start">
                <div class="col-lg-4 order-lg-2 mb-4 mb-lg-0 sticky-lg-top pl-lg-5">
                    <div class="alert alert-primary">
                        Some of this information will appear on your public profile. A detailed public profile helps users with similar professional interests and location to connect with you.
                        <a href="@Url.Action("Index", "Member")">View your Public Profile</a>
                    </div>
                </div>
                <div class="col-lg-8 border-lg-right pr-lg-5">
                    <div class="row mb-lg-5">
                        <div class="col">
                            <h3>Profile Information</h3>
                            @{
                                await Html.RenderPartialAsync("_Message");
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="FullName">Name</label>
                        <input asp-for="FullName" class="form-control" placeholder="Enter your name"/>
                        <span asp-validation-for="FullName" class="form-control-feedback text-warning"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Bio">Bio</label>
                        <textarea asp-for="Bio" rows="4" class="form-control"></textarea>
                    </div>

                    <div class="row form-row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="GithubId">Github Id</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <img src="~/img/icons/social/github.svg" alt="github" class="icon icon-sm">
                                        </span>
                                    </div>
                                    <input asp-for="GithubId" class="form-control" placeholder="Enter your Github Id"/>
                                    <span asp-validation-for="GithubId" class="form-control-feedback text-warning"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="SkypeId">Skype Id</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <img src="~/img/icons/social/skype.svg" alt="skype" class="icon icon-sm">
                                        </span>
                                    </div>
                                    <input asp-for="SkypeId" class="form-control" placeholder="Enter your Skype Id"/>
                                    <span asp-validation-for="SkypeId" class="form-control-feedback text-warning"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="FacebookId">Facebook Id</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <img src="~/img/icons/social/facebook.svg" alt="facebook" class="icon icon-sm">
                                        </span>
                                    </div>
                                    <input asp-for="FacebookId" class="form-control" placeholder="Enter your Facebook Id"/>
                                    <span asp-validation-for="FacebookId" class="form-control-feedback text-warning"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="WebsiteUrl">Website Url</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <img src="~/img/icons/interface/icon-home.svg" alt="home icon" class="icon icon-sm text-primary">
                                        </span>
                                    </div>
                                    <input asp-for="WebsiteUrl" class="form-control" placeholder="Enter your Website Url"/>
                                    <span asp-validation-for="WebsiteUrl" class="form-control-feedback text-warning"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="mt-lg-4">

                    <div class="row form-row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="CompanyName">Company Name</label>
                                <input asp-for="CompanyName" class="form-control" placeholder="Enter your Company Name"/>
                                <span asp-validation-for="CompanyName" class="form-control-feedback text-warning"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="CompanyUrl">Company Url</label>
                                <input asp-for="CompanyUrl" class="form-control" placeholder="Enter your Company Url"/>
                                <span asp-validation-for="CompanyUrl" class="form-control-feedback text-warning"></span>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-primary mt-lg-5" type="submit">Save changes</button>
                </div>
            </div>
        </div>
    </form>

</section>