@page "/"
@namespace Goblin.Landing.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="~/"/>

        @{
            await Html.RenderPartialAsync("_Meta").ConfigureAwait(true);
            await Html.RenderPartialAsync("_Style").ConfigureAwait(true);
            await Html.RenderPartialAsync("_TopScript").ConfigureAwait(true);
        }
    </head>
    <body>
        <component type="typeof(App)" render-mode="ServerPrerendered"/>
        <script src="_framework/blazor.server.js"></script>
        @{
            await Html.RenderPartialAsync("_BottomScript").ConfigureAwait(true);
        }
    </body>
</html>