<section class="p-0 border-top border-bottom bg-light row no-gutters">
    <div class="col-lg-5 col-xl-6 order-lg-2">
        <div class="divider divider-side transform-flip-y bg-light d-none d-lg-block"></div>
        <img class="flex-fill" src="/img/blog/large-2.jpg" alt="blog.1.image">
    </div>
    <div class="col-lg-7 col-xl-6">
        <div class="container min-vh-lg-70 d-flex align-items-center">
            <div class="row justify-content-center">
                <div class="col col-md-10 col-xl-9 py-4 py-sm-5">
                    <div class="my-4 my-md-5">
                        <div class="d-flex align-items-center mb-3 mb-xl-4">
                            <a href="#" class="badge badge-pill badge-danger">Design</a>
                            <div class="ml-3 text-small text-muted">October 10th</div>
                        </div>
                        <h1 class="display-4">
                            Unveiling our new vision for Jumpstart
                        </h1>
                        <a href="#" class="d-flex align-items-center">
                            <img src="/img/avatars/male-1.jpg" alt="Joshua Lapinsky profile image" class="avatar avatar-sm">
                            <div class="h6 mb-0 ml-3">Joshua Lapinsky</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>