    <article class="article">
              <h3 class="h2">Intro to article</h3>
              <p>
                Dolor sit amet, consectetur adipiscing elit. Phasellus feugiat elit vitae enim lacinia semper. Cras nulla lectus, porttitor vitae urna iaculis, melisandre tincidunt lectus. Brienne nec tellus sit amet massa auctor imperdiet id vitae diam.
              </p>
              <p>
                Aenean Gendry est nec diam suscipit iaculis. Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet. Aenean Gendry
                est nec diam suscipit iaculis.
                <mark data-aos="highlight-text" data-aos-delay="250">Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet.</mark>Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet.
              </p>
              <p>
                Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet.
              </p>
              <h5>Let’s talk subheadings</h5>
              <p>
                Turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet.
              </p>
              <ul>
                <li>
                  Vivamus convallis mi sagittis eleifend laoreet.
                </li>
                <li>
                  Nulla tincidunt Varys et lectus rhoncus laoreet. Aenean Gendry est nec diam suscipit iaculis.
                </li>
                <li>
                  Velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi.
                </li>
              </ul>
              <blockquote class="blockquote">
        “Here’s an insightful quote from the article that is worth isolating for emphasis.”
    </blockquote>
              <p>
                Aenean Gendry est nec diam suscipit iaculis. Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet. Aenean Gendry
                est nec diam suscipit iaculis. Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet.
              </p>
              <figure>
                <img src="/img/blog/thumb-4.jpg" alt="Blog Figure" class="img-fluid rounded">
                <figcaption>Here’s a great little figure caption.</figcaption>
              </figure>
              <p>
                Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet.
              </p>
              <p>
                Dolor sit amet, consectetur adipiscing elit. Phasellus feugiat elit vitae enim lacinia semper. Cras nulla lectus, porttitor vitae urna iaculis, melisandre tincidunt lectus. Brienne nec tellus sit amet massa auctor imperdiet id vitae diam.
              </p>
              <pre><code>&lt;p&gt;Sample text here...&lt;/p&gt;
&lt;p&gt;And another line of sample text here...&lt;/p&gt;</code></pre>
              <p>
                Gravida est nec diam suscipit iaculis. Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet. Aenean Gendry est
                nec diam suscipit iaculis. Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt Varys et lectus rhoncus laoreet.
              </p>
              <h5>Now to summarize</h5>
              <p>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia
                animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
              </p>
              <p>
                Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
              </p>
              <ol>
                <li>
                  Praesent urna velit, auctor nec turpis et, vehicula lobortis sem.
                </li>
                <li>
                  Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet.
                </li>
                <li>
                  Et iusto odio dignissimos ducimus qui blanditiis
                </li>
              </ol>
            </article>