<div class="col-lg-4 my-2 my-md-3 my-lg-0">
    <div class="row">
        <a class="col-5" href="#">
            <img class="rounded img-fluid hover-fade-out" src="/img/blog/thumb-3.jpg" alt="blog.3.image">
        </a>
        <div class="col">
            <a class="h6" href="#">Keep your users engaged in their sleep</a>
            <div class="text-small text-muted mt-2">September 13th</div>
        </div>
    </div>
</div>