<nav>
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link rounded" href="#" aria-label="Previous">
                <img src="/img/icons/interface/icon-arrow-left.svg" alt="Arrow Left" class="icon icon-xs bg-primary" data-inject-svg>
            </a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link rounded" href="#" aria-label="Next">
                <img src="/img/icons/interface/icon-arrow-right.svg" alt="Arrow Right" class="icon icon-xs bg-primary" data-inject-svg>
            </a>
        </li>
    </ul>
</nav>