<div class="col-md-6 col-lg-4 mb-3 mb-md-4">
    <div class="card h-100 hover-box-shadow">
        <a href="#" class="d-block bg-gradient rounded-top">
            <img class="card-img-top hover-fade-out" src="/img/blog/thumb-5.jpg" alt="blog.5.image">
        </a>
        <div class="card-body">
            <a href="#">
                <h3>Why social ROI is impossible to measure</h3>
            </a>
            <p>
                Sed arcu Jon odio Oberyn lacinia at quis. Brienne fermentum vel porta Jon pulvinar neque.
            </p>
            <a href="#">Read Story</a>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
            <a href="#" class="badge badge-pill badge-info">Finance</a>
            <div class="text-small text-muted">July 21st</div>
        </div>
    </div>
</div>