@{
    ViewData[MetadataKeys.Title] = "Blog";
    ViewData[MetadataKeys.FaviconUrl] = "~/icons/openings.ico";
}

<section class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="d-flex flex-column flex-lg-row no-gutters border rounded bg-white o-hidden">
                    <a href="#" class="d-block position-relative bg-gradient col-xl-5">
                        <img class="flex-fill hover-fade-out" src="/img/blog/thumb-2.jpg" alt="blog.1.image">
                        <div class="divider divider-side bg-white d-none d-lg-block"></div>
                    </a>
                    <div class="p-4 p-md-5 col-xl-7 d-flex align-items-center">
                        <div class="p-lg-4 p-xl-5">
                            <div class="d-flex justify-content-between align-items-center mb-3 mb-xl-4">
                                <a href="#" class="badge badge-pill badge-danger">Design</a>
                                <div class="text-small text-muted">October 10th</div>
                            </div>
                            <a href="#">
                                <h1>Unveiling our new vision for Jumpstart</h1>
                            </a>
                            <p class="lead">
                                Volantis vitae unuch sed velit sodales. Sandor imperdiet proin fermentum leo vel Hodor.
                            </p>
                            <a href="#" class="lead">Read Story</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 mt-lg-5">
            <div class="col-lg-4 my-2 my-md-3 my-lg-0">
                <div class="row">
                    <a class="col-5" href="#">
                        <img class="rounded img-fluid hover-fade-out" src="/img/blog/thumb-1.jpg" alt="blog.2.image">
                    </a>
                    <div class="col">
                        <a class="h6" href="#">Making the most of team-building sessions</a>
                        <div class="text-small text-muted mt-2">October 2nd</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-2 my-md-3 my-lg-0">
                <div class="row">
                    <a class="col-5" href="#">
                        <img class="rounded img-fluid hover-fade-out" src="/img/blog/thumb-3.jpg" alt="blog.3.image">
                    </a>
                    <div class="col">
                        <a class="h6" href="#">Keep your users engaged in their sleep</a>
                        <div class="text-small text-muted mt-2">September 13th</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-2 my-md-3 my-lg-0">
                <div class="row">
                    <a class="col-5" href="#">
                        <img class="rounded img-fluid hover-fade-out" src="/img/blog/thumb-4.jpg" alt="blog.4.image">
                    </a>
                    <div class="col">
                        <a class="h6" href="#">It's not just about the clicks. Here's why</a>
                        <div class="text-small text-muted mt-2">August 8th</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
                <div class="card h-100 hover-box-shadow">
                    <a href="#" class="d-block bg-gradient rounded-top">
                        <img class="card-img-top hover-fade-out" src="/img/blog/thumb-5.jpg" alt="blog.5.image">
                    </a>
                    <div class="card-body">
                        <a href="#">
                            <h3>Why social ROI is impossible to measure</h3>
                        </a>
                        <p>
                            Sed arcu Jon odio Oberyn lacinia at quis. Brienne fermentum vel porta Jon pulvinar neque.
                        </p>
                        <a href="#">Read Story</a>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <a href="#" class="badge badge-pill badge-info">Finance</a>
                        <div class="text-small text-muted">July 21st</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
                <div class="card h-100 hover-box-shadow">
                    <a href="#" class="d-block bg-gradient rounded-top">
                        <img class="card-img-top hover-fade-out" src="/img/blog/thumb-8.jpg" alt="blog.6.image">
                    </a>
                    <div class="card-body">
                        <a href="#">
                            <h3>Breathing new life into a tired UI</h3>
                        </a>
                        <p>
                            Podrick in massa tempor nec feugiat nisl pretium. Consectetur imp faucibus nisl tincidunt.
                        </p>
                        <a href="#">Read Story</a>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <a href="#" class="badge badge-pill badge-danger">Design</a>
                        <div class="text-small text-muted">June 30th</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
                <div class="card h-100 hover-box-shadow">
                    <a href="#" class="d-block bg-gradient rounded-top">
                        <img class="card-img-top hover-fade-out" src="/img/blog/thumb-6.jpg" alt="blog.7.image">
                    </a>
                    <div class="card-body">
                        <a href="#">
                            <h3>Stepping back to see the bigger picture</h3>
                        </a>
                        <p>
                            At imperdiet dui accumsan sit. Olenna enim nec dui unuch mattis tellus elementum sagittis.
                        </p>
                        <a href="#">Read Story</a>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <a href="#" class="badge badge-pill badge-success">Culture</a>
                        <div class="text-small text-muted">May 14th</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
                <div class="card h-100 hover-box-shadow">
                    <a href="#" class="d-block bg-gradient rounded-top">
                        <img class="card-img-top hover-fade-out" src="/img/blog/thumb-7.jpg" alt="blog.8.image">
                    </a>
                    <div class="card-body">
                        <a href="#">
                            <h3>Do we need more “Me” people in tech?</h3>
                        </a>
                        <p>
                            Volantis vitae unuch sed velit sodales. Sandor imperdiet proin fermentum leo vel Hodor.
                        </p>
                        <a href="#">Read Story</a>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <a href="#" class="badge badge-pill badge-success">Culture</a>
                        <div class="text-small text-muted">April 1st</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
                <div class="card h-100 hover-box-shadow">
                    <a href="#" class="d-block bg-gradient rounded-top">
                        <img class="card-img-top hover-fade-out" src="/img/blog/thumb-9.jpg" alt="blog.9.image">
                    </a>
                    <div class="card-body">
                        <a href="#">
                            <h3>Having your cake, and eating it too!</h3>
                        </a>
                        <p>
                            Podrick in massa tempor nec feugiat nisl pretium. Consectetur imp faucibus nisl tincidunt.
                        </p>
                        <a href="#">Read Story</a>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <a href="#" class="badge badge-pill badge-danger">Design</a>
                        <div class="text-small text-muted">March 21st</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
                <div class="card h-100 hover-box-shadow">
                    <a href="#" class="d-block bg-gradient rounded-top">
                        <img class="card-img-top hover-fade-out" src="/img/blog/thumb-10.jpg" alt="blog.10.image">
                    </a>
                    <div class="card-body">
                        <a href="#">
                            <h3>Make users stick to your brand</h3>
                        </a>
                        <p>
                            Consectetur libero imp faucibus nisl tincidunt. Sansa tellus mauris a diam maecenas sed.
                        </p>
                        <a href="#">Read Story</a>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <a href="#" class="badge badge-pill badge-primary">Engagement</a>
                        <div class="text-small text-muted">February 6th</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-auto">
                <nav>
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link rounded" href="#" aria-label="Previous">
                                <img src="/img/icons/interface/icon-arrow-left.svg" alt="Arrow Left" class="icon icon-xs bg-primary" data-inject-svg>
                            </a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link rounded" href="#" aria-label="Next">
                                <img src="/img/icons/interface/icon-arrow-right.svg" alt="Arrow Right" class="icon icon-xs bg-primary" data-inject-svg>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>