@model LoginModel
@{
    ViewData[MetadataKeys.Title] = "Logged In";
    ViewData[MetadataKeys.FaviconUrl] = "~/icons/home.ico";

    ViewData[ContentKeys.HeaderNavTagContent] = "class='navbar navbar-expand-lg navbar-light' data-overlay";
    ViewData[ContentKeys.FooterStyle] = "position: fixed; bottom: 0; width: 100%; z-index: 1;";
}

@section Scripts
{
    <script type="text/javascript">
        $(function(){
            setTimeout(function(){
                var continueUri = '@ViewBag.ContinueUrl';
                
                window.location.replace(continueUri);
            }, 500);
        })
    </script>
}

<div data-overlay class="min-vh-100 bg-light d-flex flex-column justify-content-md-center">
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="text-center lead">
                        You are loggedin, redirecting to <a href="@ViewBag.ContinueUrl">destination url</a> ...
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>