@model LoginModel
@{
    ViewData[MetadataKeys.Title] = "Login";
    ViewData[MetadataKeys.FaviconUrl] = "~/icons/home.ico";
    
    ViewData[ContentKeys.HeaderNavTagContent] = "class='navbar navbar-expand-lg navbar-light' data-overlay";
    ViewData[ContentKeys.FooterStyle] = "position: fixed; bottom: 0; width: 100%; z-index: 1;";
}

@section Scripts
{
    <script type="text/javascript">
        $(function(){
            $.validator.unobtrusive.parse('form');
        })
    </script>
}

<div data-overlay class="min-vh-100 bg-light d-flex flex-column justify-content-md-center">
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-5 col-md-6">
                    <div class="card card-body shadow">
                        <h1 class="h5 text-center">Sign In</h1>
                        <form asp-controller="Auth" asp-action="SubmitLogin" method="post" enctype="multipart/form-data" role="form">

                            <input asp-for="Continue" type="hidden"/>

                            <div class="form-group">
                                <input asp-for="UserName" class="form-control" placeholder="UserName"/>
                                <span asp-validation-for="UserName" class="form-control-feedback text-warning"></span>
                            </div>

                            <div class="form-group">
                                <input asp-for="Password" class="form-control" placeholder="Password"/>
                                <span asp-validation-for="Password" class="form-control-feedback text-warning"></span>
                            </div>

                            <button class="btn btn-primary btn-block" type="submit">Sign In</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>