@model ResetPasswordModel
@{
    ViewData[MetadataKeys.Title] = "Reset Password";

    ViewData[ContentKeys.HeaderNavTagContent] = "class='navbar navbar-expand-lg navbar-light' data-overlay";
    ViewData[ContentKeys.FooterStyle] = "position: fixed; bottom: 0; width: 100%; z-index: 1;";
}

@section Scripts
{
    <script type="text/javascript">
        $(function(){
            $.validator.unobtrusive.parse('form');
        })
    </script>
}

<div data-overlay class="min-vh-100 bg-light d-flex flex-column justify-content-md-center">
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-5 col-md-6">
                    <div class="card card-body shadow">
                        <h1 class="h5 text-center">Reset Your Password</h1>
                        @{
                            await Html.RenderPartialAsync("_Message");
                        }
                        <form asp-controller="Auth" asp-action="SubmitForgotPassword" method="post" enctype="multipart/form-data" role="form">

                            <input asp-for="Email" type="hidden"/>

                            <div class="form-group">
                                <label asp-for="SetPasswordToken">Set Password Code</label>
                                <input asp-for="SetPasswordToken" class="form-control" placeholder="Enter set password token"/>
                                <span asp-validation-for="SetPasswordToken" class="form-control-feedback text-warning"></span>
                            </div>
                            
                            <div class="form-group">
                                <label asp-for="NewPassword">New Password</label>
                                <input asp-for="NewPassword" class="form-control" placeholder="New password"/>
                                <span asp-validation-for="NewPassword" class="form-control-feedback text-warning"></span>
                            </div>

                            <button class="btn btn-primary btn-block" type="submit">Save New Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>