@using Goblin.Landing.Core
@model BlogModel

@{
    ViewData[MetadataKeys.Title] = $"[{ViewBag.ErrorCode}] Error";

    ViewData[MetadataKeys.FaviconUrl] = "~/icons/about.ico";
}

@section Scripts
{
    <script type="text/javascript">
        $(function(){
            $(".navbar-container").remove();
            $("footer").remove();
        })
    </script>
}


<section class="bg-primary-3 text-white p-0 o-hidden">
    <div class="container min-vh-100 d-flex flex-column justify-content-between text-center py-4 py-md-5">
        <a href="@Url.Action("Index", "Home")" class="fade-page">
            <img src="~/favicons/android-chrome-192x192.png" width="100" alt="@SystemSetting.Current.ApplicationName">
        </a>
        <div class="my-5">
            <div class="row justify-content-center">
                <div class="col-5 mb-4">
                    <img src="~/img/illustrations/illustration-4.svg" alt="404 Page Not Found" class="img-fluid">
                </div>
                <div class="col-12">
                    <h1>@ViewBag.ErrorCode</h1>
                    @if (ViewBag.ErrorCode == StatusCodes.Status404NotFound)
                    {
                        <div class="lead">Whoops, it looks like the page you request wasn't found.</div>
                    }
                    else
                    {
                        <div class="lead">Whoops, something went wrong...</div>
                    }
                </div>
            </div>
        </div>
        <div>
            <a href="@Url.Action("Index", "Home")" class="btn btn-sm btn-outline-light fade-page">Back to Home</a>
        </div>
    </div>
</section>