@{
    await Html.RenderPartialAsync("~/Views/Home/_Index/_Banner.cshtml").ConfigureAwait(true);
    <div class="divider divider-bottom bg-primary-3 mt-5"></div>
    
    await Html.RenderPartialAsync("~/Views/Home/_Index/_intro.cshtml").ConfigureAwait(true);
    
    await Html.RenderPartialAsync("~/Views/Home/_Index/_StayInTheLoop.cshtml").ConfigureAwait(true);
}