@model BlogModel

@{
    ViewData[MetadataKeys.FaviconUrl] = "~/icons/home.ico";
    
    await Html.RenderPartialAsync("~/Views/Home/_Banner.cshtml").ConfigureAwait(true);
    
    <div class="divider divider-bottom bg-primary-3 mt-5"></div>
    
    await Html.RenderPartialAsync("~/Views/Home/_Intro.cshtml").ConfigureAwait(true);
    
    await Html.RenderPartialAsync("~/Views/Home/_LatestPost.cshtml", Model).ConfigureAwait(true);
}