<div class="mb-4 mb-md-5" data-aos="fade-up">
    <div class="d-flex flex-column flex-lg-row no-gutters border rounded bg-white o-hidden">
        <a href="#" class="d-block position-relative bg-gradient col-xl-5">
            <img class="flex-fill hover-fade-out" src="/img/blog/thumb-2.jpg" alt="blog.1.image">
            <div class="divider divider-side bg-white d-none d-lg-block"></div>
        </a>
        <div class="p-4 p-md-5 col-xl-7 d-flex align-items-center">
            <div class="p-lg-4 p-xl-5">
                <div class="d-flex justify-content-between align-items-center mb-3 mb-xl-4">
                    <a href="#" class="badge badge-pill badge-danger">Design</a>
                    <div class="text-small text-muted">October 10th</div>
                </div>
                <a href="#">
                    <h1>Unveiling our new vision for Jumpstart</h1>
                </a>
                <p class="lead">
                    Volantis vitae unuch sed velit sodales. Sandor imperdiet proin fermentum leo vel Hodor.
                </p>
                <a href="#" class="lead">Read Story</a>
            </div>
        </div>
    </div>
</div>