<div class="col-lg-6">
    <section class="pt-3 pb-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col col-md-10 col-xl-9 text-center text-lg-left">
                    <img style="max-height: 300px; display: inherit; margin: 0 auto" src="/img/contacts/contact.png" alt="Contact" class="img-fluid"/>
                    <h1 class="display-3">Where magic <mark data-aos="highlight-text" data-aos-delay="500">happens.</mark></h1>
                    <a href="https://goo.gl/maps/HbWVHcr8GwaX2dS58">
                        <address class="lead mb-5">
                            <p>20 Cong Hoa Street, Ward 12</p>
                            <p>Tan Binh District, Ho chi Minh City</p>
                            <p>Viet Nam</p>
                        </address>
                    </a>
                    <div class="d-flex flex-column justify-content-center justify-content-lg-start">
                        <div class="mx-3 mx-lg-0 mr-lg-5 mb-4">
                            <h5>Email us</h5>
                            <a href="mailto:admin@topnguyen.com" class="lead">admin@topnguyen.com</a>
                        </div>
                        <div class="mx-3 mx-lg-0 mr-lg-5 mb-4">
                            <h5>Call any time</h5>
                            <a href="tel:(+84)945188299" class="lead">+84 945 188 299</a>
                        </div>
                        <div class="mx-3 mx-lg-0 mr-lg-5 mb-4">
                            <h5>Get in touch</h5>
                            <div>
                                <a href="skype:live:vodanh_pp?chat" class="hover-fade-out mr-2">
                                    <img src="/img/icons/social/skype.svg" alt="Google" class="icon icon-sm bg-info" data-inject-svg />
                                </a>
                                <a href="https://github.com/topnguyen" class="hover-fade-out">
                                    <img src="/img/icons/social/github.svg" alt="Github" class="icon icon-sm bg-dark" data-inject-svg />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>